/*-- scss:defaults --*/

// set fonts
$font-family-headings: "Playfair Display";
$font-family-mono: "IBM Plex Mono";
$font-family-projects: "IBM Plex Sans";

// color settings
$headings-color-custom: #ff6969;
$link-color: #ff6969;
$link-hover: #3bcb55;
$link-visit: #96e4f3;
$gray-700: #5a5a5a;
$gray-projects: #363a3c;
