code, pre, code.highlight, pre.highlight {
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;    
    word-wrap: normal;
    padding: 0px 0px 0px 0px;
    border: solid 0px #dce6f0;
  	border-radius: 0px;
    text-decoration-line: none;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

sub code {
    font-size: inherit; // Use font size from <sub>
}

table {
  margin-bottom: 0px;
}